﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Views/Shared/_LoginView.cshtml";
}
	
<div class="container">

	<!-- Outer Row -->
	<div class="row justify-content-center">

		<div class="col-xl-6 col-lg-8 col-md-9">

			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<!-- Nested Row within Card Body -->
					<form class="row" action="@Url.Action("Register")" enctype="multipart/form-data" method="post">
						<div class="text-center">
							<h1 class="h2 text-gray-900 mt-4 mb-3">Register</h1>
						</div>
						<div class="p-5">
							<div class="form-group">
								<input type="email" class="form-control form-control-user"
									   name="email"
									   required
									   id="email" aria-describedby="emailHelp"
									   placeholder="Enter Email Address...">
							</div>
							<div class="form-group">
								<input type="text" class="form-control form-control-user"
									   name="full_name"
									   required
									   id="exampleInputFullName" aria-describedby="emailFullName"
									   placeholder="Enter Your Full Name...">
							</div>
							<div class="form-group">
								<input type="password" name="password" class="form-control form-control-user"
									   id="exampleInputPassword" required placeholder="Password">
							</div>
							<div class="form-group">
								<input type="text" name="phone" class="form-control form-control-user" required placeholder="Phone" />
							</div>
							@*                                 @if (Request.Params["message"] != null)
                                {
                                    <div class="alert alert-danger" role="alert">

                                        @(Request.Params["message"])
                                    </div>
                                } *@					
										<div class="form-group">
								<input type="text" name="address" class="form-control form-control-user" required placeholder="Address" value="" />
							</div>
							<div class="row">
								<div class="col-11">Avatar</div>
								<div class="col-3">
									<input class="form-control" type="file" name="Img" value="" />
								</div>
								<div class="col-5 d-inline">
									<div class="form-group border-0 d-inline">
										<input type="text" name="code" required placeholder="Verifitication Code" class="form-control d-inline" value=""/>
										
									</div>
								</div>
								<div class="col-4">
									<button class="btn btn-primary" id="myButton">Send Code</button>
								</div>
							</div>
							<div class="form-group">
								
									
							</div>
							<input type="hidden" name="active" value="1" />
							<input type="submit" class="btn btn-primary btn-user btn-block">
							<hr>
							@* 									<a href="index.html" class="btn btn-google btn-user btn-block">
										<i class="fab fa-google fa-fw"></i> Login with Google
									</a>
									<a href="index.html" class="btn btn-facebook btn-user btn-block">
										<i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
									</a> *@
							<hr
							<div class="text-center">
								<a class="small" href="../login">Already Have An Account ? Login</a>
							</div>>
						</div>
					</form>
				</div>
			</div>

		</div>

	</div>

</div>

<p id="timer"></p>
<script type="text/javascript">

	document.addEventListener("DOMContentLoaded",function(){
		document.getElementById("myButton").addEventListener("click", function () {
		button.disabled= true;
		var email = $("#email").val();
		$.ajax({
			 url:"@Url.Action("checkEmail")",
			 type : "POST",
			 contentType:'application/x-www-form-urlencoded',
			 data:{"email":email},
			 success:function (response){
			if(response==true){
				alert("Email Already Exist, Please Change to Another Email")
			}
			else{
		$.ajax({
			url:"@Url.Action("SendMail")",
			type : "POST",
			contentType:'application/x-www-form-urlencoded',
			data:{"email":email},
			success:function (response){
			if(response.success){
				alert("success")
			}
		}
	})
			}
		}
			})

	updateCountdown();
	const timer = setInterval(updateCountdown, 1000);
		});
	})
	let countdown = 30;
	const countdownText = document.getElementById("timer");
	const button = document.getElementById("myButton");
	 function updateCountdown() {
		if (countdown > 0) {
			button.innerText = `Please wait ${countdown} second(s)...`;
			countdown--;
		} else {
			clearInterval(timer);
			button.innerText = "Send";
			button.disabled = false;
		}
	}

</script>